<!-- Promotion Icons -->
<div class="promotion-icons">
  <div class="container">
    <div class="promo-wrapper">
      <a href="src/pages/free-shipping.html" class="promo-item">
        <div class="promo-icon">
          <i class="fas fa-shipping-fast"></i>
        </div>
        <div class="promo-text">Free Shipping</div>
      </a>
      <a href="src/pages/flash-sale.html" class="promo-item">
        <div class="promo-icon">
          <i class="fas fa-bolt"></i>
        </div>
        <div class="promo-text">Flash Sale</div>
      </a>
      <a href="#" class="promo-item">
        <div class="promo-icon">
          <i class="fas fa-tags"></i>
        </div>
        <div class="promo-text">Vouchers</div>
      </a>
      <a href="#" class="promo-item">
        <div class="promo-icon">
          <i class="fas fa-coins"></i>
        </div>
        <div class="promo-text">Coins</div>
      </a>
    </div>
  </div>
</div>